* body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: rgba(0,0,0,0.4);
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    font-weight: bold;
    color: #00f2fe;
  }
  
  .container {
    width: 85%;
    margin: auto;
    padding: 30px;
  }
  
  .card {
    background: rgba(255,255,255,0.12);
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 30px;
  }
  
  button {
    padding: 12px 25px;
    background: #00f2fe;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    background: rgba(255,255,255,0.12);
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    backdrop-filter: blur(12px);
  }
  
  .login-card h1 {
    margin-bottom: 10px;
    color: #00f2fe;
  }
  
  .login-card p {
    margin-bottom: 20px;
    opacity: 0.8;
  }
  